.btn {
    font-size: 36px;
    font-weight: 300;
    width: 310px;
    padding: 13px 51px;
    background-color: #fff;
    border: 1px solid $color-text-main;
    &:hover {
        cursor: pointer;
        background-color: $color-text-main;
        color: #fff;
    }
}

.btn-submit {
    font-size: 18px;
    margin-top: 24px;
    border: 0.75px solid $color-text-main;
    padding: 13px 53px;
    background-color: #FFFFFFC9;
    &:hover {
        color: #FFFFFFC9;
        background-color: $color-text-main;
        cursor: pointer;
    }
}

h1 {
    font-size: 38px;
}

.link {
    text-decoration: none;
    color: $color-link;
    font-size: 14px;
}