.menu {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
    li {
        padding: 10px 30px;
        font-size: 18px;
        &:hover {
            cursor: pointer;
            border: 1px solid $color-text-main;
            padding: 9px 29px;
        }
    }
    .link {
        text-decoration: none;
        color: $color-link;
        font-size: 14px;
    }
}